 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal (centra la imagen en la pantalla) */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* Imagen principal (FONDO) */
.main-image {
    position: relative;
    display: flex; /* Activa flexbox dentro del fondo */
    justify-content: center;
    align-items: center;
    
}

/* Imagen de fondo */
.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Contenedor de subimágenes */
.sub-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Estilos generales para las subimágenes */
.sub-images img {
    width: 18%;
    height: auto;
    object-fit: contain;
}

/* Ajuste del amarillo sobre la piedra usando  flexbox */
.yellow-sub-img {
    align-self: center;
    margin-bottom: 13%;
    transform: translateX(98%);
}
.red-sub-img {
    align-self: flex-end; /* Mantiene la imagen en la parte inferior */
    margin-bottom: 15%; /* Ajusta la altura si es necesario */
    transform: translateX(355%); 
}
.hatchlings-sub-img {
    flex-wrap: wrap;
    align-self:flex-end;
    margin-bottom: 20%;
    transform: translateX(-225%);

}
.white-sub-img {
    align-self: center; /* Alinea la imagen verticalmente */
    margin-bottom: 12%; /* Ajusta la altura si es necesario */
    margin-left: 10%; /* Mueve la imagen más cerca del rojo */
}
.black-sub-img {
   align-self: flex-end;
   align-self: center;
   align-self: last baseline;
    margin-bottom: 2%;
    transform: translateX(-240%);

}